body{
    width: 100%;
    height: 100%;
}
#div_canvas{
    width: 900px;
    height: 600px;
    margin: 50px;
    float: left;
}
#myCanvas{
    border: 1px solid #000000;
}
#div_tools{
    width: 400px;
    height: 600px;
    margin: 50px;
    float: right;
    text-align: left;
    background-color: #ffccff;
}
#color_picker{
    margin-left: 70px;
    display: block;
}

/*slider bar*/
.slider:hover{
    opacity: 1; /*Fully shown on mouse-over*/
}
.slider{
    -webkit-appearance: none;
    height: 7px;
    border-radius: 5px;   
    background: #f84aa1dc;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #00b8e6; /* Green background */
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb{
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: rgb(42, 188, 214); /* Green background */
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
}
  